
<nav 
class="navbar navbar-default" 
role="navigation">
<ul class="nav navbar-nav">
  <li class="active">
    <a routerLink="/home">Home</a>
  </li>
  <li class="active">
    <a routerLink="/about">about us</a>
  </li>
  <li class="active">
    <a routerLink="/contact">contact us</a>
  </li>
 
</ul>
</nav>
<router-outlet></router-outlet>


<!-- <nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">Title</a>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Link</a>
    </li>
  </ul>
</nav> -->











