<br><br>

<form #myform="ngForm" (ngSubmit)="AddEmp(myform)" role="form">
  <legend>New record</legend>
  <div class="form-group">
      <label for="">BusID</label>
      <input ngModel type="text" class="form-control"
       id="bus_typ" name="bus_id">
    </div>
  <div class="form-group">
    <label for="">Bustype</label>
    <input ngModel type="text" class="form-control"
     id="bus_typ" name="bus_typ">
  </div>
  <div class="form-group">
    <label for="">Busno</label>
    <input ngModel type="text" class="form-control"
     id="bus_no" name="bus_no">
  </div>
  <div class="form-group">
    <label for="">Seat</label>
    <input ngModel type="text" class="form-control"
     id="seat" name="seat">
  </div>

  

  <button type="submit" class="btn btn-primary">Add</button>
</form>
